#
# if you use this compose file, You must need to specify your
# KAFKA_ADVERTISED_HOST_NAME and KAFKA_ZOOKEEPER_CONNECT
#
version: '2'
services:
  kafka01:
    image: wurstmeister/kafka:0.10.1.1
    container_name: kafka01
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: 10.62.228.220
      KAFKA_ADVERTISED_PORT: 9092
      #KAFKA_CREATE_TOPICS: "test:1:1"
      KAFKA_ZOOKEEPER_CONNECT: 10.62.228.220:2181,10.62.228.220:2182,10.62.228.220:2183
  kafka02:
    image: wurstmeister/kafka:0.10.1.1
    container_name: kafka02
    ports:
      - "9093:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: 10.62.228.220
      KAFKA_ADVERTISED_PORT: 9093
      #KAFKA_CREATE_TOPICS: "test:1:1"
      KAFKA_ZOOKEEPER_CONNECT: 10.62.228.220:2181,10.62.228.220:2182,10.62.228.220:2183
  kafka03:
    image: wurstmeister/kafka:0.10.1.1
    container_name: kafka03
    ports:
      - "9094:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: 10.62.228.220
      KAFKA_ADVERTISED_PORT: 9094
      #KAFKA_CREATE_TOPICS: "test:1:1"
      KAFKA_ZOOKEEPER_CONNECT: 10.62.228.220:2181,10.62.228.220:2182,10.62.228.220:2183
